# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# 앱 관련 폴더
android/
ios/

# dependencies
Node.js / Expo
# ###################
node_modules/
.expo/
dist/
web-build/
npm-debug.*
yarn-debug.*
yarn-error.*
.metro-health-check*

# Expo Secrets
expo-env.d.ts
.env
.env*.local

# Android
# ###################
mediguard-project/android/app/build/
mediguard-project/android/build/
mediguard-project/android/app/.cxx/
*.jks
*.p8
*.p12
*.key
*.keystore
*.mobileprovision
android/local.properties

# iOS
# ###################
mediguard-project/ios/build/

# Python
# ###################
scripts/ocr/__pycache__/
scripts/ocr/.venv/
scripts/ocr/venv/
scripts/ocr/env/
*.pyc

# IDE & Editor
# ###################
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS generated
# ###################
.DS_Store
Thumbs.db

# Logs & Temp files
# ###################
error.txt
need.txt
*.log

# Misc
# ###################
*.orig.*
*.tsbuildinfo